In [74]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.preprocessing import scale
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

bank = pd.read_csv("C:\\Users\\kp\\Pictures\\Assignments\\Logistic Regression\\bank-full.csv", header=0,delimiter=';')

def data_visualization(bank):
# Bar Plots for Categorical Columns
    sb.countplot(x="y", data=bank,palette="hls") # Highly Imbalanced Dataset as the values in Target Variable is unevenly distributed
    plt.show()
    
    pd.crosstab(bank.y,bank.marital).plot(kind="bar") #Proportion of the People Saying No and Saying Yes seems to uniform across
#each categorical value of the Category
    plt.show()
    
    pd.crosstab(bank.y,bank.job).plot(kind="bar") #Proportion of the People Saying No and Saying Yes seems to uniform across
#each categorical value of the Category
    plt.show()
    
    pd.crosstab(bank.y,bank.education).plot(kind="bar") #Proportion of the People Saying No and Saying Yes seems to uniform across
#each categorical value of the Category
    plt.show()
    
    pd.crosstab(bank.y,bank.housing).plot(kind="bar") #Seems like there is a dependability between the Variables Housing and Output
#y from the Plot
    plt.show()
    
    return None

#data_visualization(bank)
bank

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [75]:
#Finding NaN Values in the Dataframe and eliminating them

print("Number of NaN/Missing Values present Each Column of the Dataframe: ",bank.isnull().sum())
bank.dropna(inplace=True) # Best Practice though there are no NaN Values present
#There were no NaN values presnt in the Dataframe so the shape of Df remains same even after dropna() has been called

Number of NaN/Missing Values present Each Column of the Dataframe:  age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [76]:
bank["Subscribe"] = 0
bank.loc[bank.y == "yes","Subscribe"] = 1

dummies=pd.get_dummies(bank[['job','marital','education','default','housing','loan','contact','month','poutcome']])
bank.drop(['job','marital','education','default','housing','loan','contact','month','poutcome','day','y'],axis=1,inplace=True)
bank = pd.concat([bank,dummies],axis=1)
bank=bank[['Subscribe','age', 'balance', 'duration', 'campaign', 'pdays', 'previous','job_admin.', 'job_blue-collar', 'job_entrepreneur',
       'job_housemaid', 'job_management', 'job_retired', 'job_self-employed',
       'job_services', 'job_student', 'job_technician', 'job_unemployed',
       'job_unknown', 'marital_divorced', 'marital_married', 'marital_single',
       'education_primary', 'education_secondary', 'education_tertiary',
       'education_unknown', 'default_no', 'default_yes', 'housing_no',
       'housing_yes', 'loan_no', 'loan_yes', 'contact_cellular',
       'contact_telephone', 'contact_unknown', 'month_apr', 'month_aug',
       'month_dec', 'month_feb', 'month_jan', 'month_jul', 'month_jun',
       'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sep',
       'poutcome_failure', 'poutcome_other', 'poutcome_success',
       'poutcome_unknown']]

features=bank.columns[1:]
target=bank.columns[0]
bank

,Subscribe,age,balance,duration,campaign,pdays,previous,job_admin.,job_blue-collar,job_entrepreneur,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,0,58,2143,261,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
1,0,44,29,151,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,0,33,2,76,1,-1,0,0,0,1,...,0,0,1,0,0,0,0,0,0,1
3,0,47,1506,92,1,-1,0,0,1,0,...,0,0,1,0,0,0,0,0,0,1
4,0,33,1,198,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,1,51,825,977,3,-1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
45207,1,71,1729,456,2,-1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
45208,1,72,5715,1127,5,184,3,0,0,0,...,0,0,0,1,0,0,0,0,1,0
45209,0,57,668,508,4,-1,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
45210,0,37,2971,361,2,188,11,0,0,1,...,0,0,0,1,0,0,0,1,0,0

In [77]:
#Standardizing Each Column Values
standard_bank = pd.DataFrame(data = scale(bank[features]), columns = features)
standard_bank['Subscribe']=bank['Subscribe']
standard_bank

,age,balance,duration,campaign,pdays,previous,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,...,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown,Subscribe
0,1.606965,0.256419,0.011016,-0.569351,-0.411453,-0.251940,-0.359369,-0.523740,-0.184415,-0.16793,...,-0.103262,1.511374,-0.310263,-0.128819,-0.113898,-0.348687,-0.205972,-0.185948,0.472519,0
1,0.288529,-0.437895,-0.416127,-0.569351,-0.411453,-0.251940,-0.359369,-0.523740,-0.184415,-0.16793,...,-0.103262,1.511374,-0.310263,-0.128819,-0.113898,-0.348687,-0.205972,-0.185948,0.472519,0
2,-0.747384,-0.446762,-0.707361,-0.569351,-0.411453,-0.251940,-0.359369,-0.523740,5.422561,-0.16793,...,-0.103262,1.511374,-0.310263,-0.128819,-0.113898,-0.348687,-0.205972,-0.185948,0.472519,0
3,0.571051,0.047205,-0.645231,-0.569351,-0.411453,-0.251940,-0.359369,1.909346,-0.184415,-0.16793,...,-0.103262,1.511374,-0.310263,-0.128819,-0.113898,-0.348687,-0.205972,-0.185948,0.472519,0
4,-0.747384,-0.447091,-0.233620,-0.569351,-0.411453,-0.251940,-0.359369,-0.523740,-0.184415,-0.16793,...,-0.103262,1.511374,-0.310263,-0.128819,-0.113898,-0.348687,-0.205972,-0.185948,0.472519,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,0.947747,-0.176460,2.791329,0.076230,-0.411453,-0.251940,-0.359369,-0.523740,-0.184415,-0.16793,...,-0.103262,-0.661650,3.223067,-0.128819,-0.113898,-0.348687,-0.205972,-0.185948,0.472519,1
45207,2.831227,0.120447,0.768224,-0.246560,-0.411453,-0.251940,-0.359369,-0.523740,-0.184415,-0.16793,...,-0.103262,-0.661650,3.223067,-0.128819,-0.113898,-0.348687,-0.205972,-0.185948,0.472519,1
45208,2.925401,1.429593,3.373797,0.721811,1.436189,1.050473,-0.359369,-0.523740,-0.184415,-0.16793,...,-0.103262,-0.661650,3.223067,-0.128819,-0.113898,-0.348687,-0.205972,5.377848,-2.116316,1
45209,1.512791,-0.228024,0.970146,0.399020,-0.411453,-0.251940,-0.359369,1.909346,-0.184415,-0.16793,...,-0.103262,-0.661650,3.223067,-0.128819,-0.113898,-0.348687,-0.205972,-0.185948,0.472519,0
45210,-0.370689,0.528364,0.399328,-0.246560,1.476138,4.523577,-0.359369,-0.523740,5.422561,-0.16793,...,-0.103262,-0.661650,3.223067,-0.128819,-0.113898,-0.348687,4.855018,-0.185948,-2.116316,0

In [78]:
train_data,test_data = train_test_split(standard_bank,test_size=0.3,random_state=8)

#Model Building

logistic_regressor = LogisticRegression(penalty='l2')
logistic_regressor.fit(train_data[features],np.ravel(train_data[target]))
#logistic_regressor.predict_proba (train_data[features])
train_pred = logistic_regressor.predict(train_data[features])
test_pred = logistic_regressor.predict(test_data[features])

print("Confusion Matrix for Test Data: ",confusion_matrix(test_data[target],test_pred))
print("Confusion Matrix for Train Data: ",confusion_matrix(train_data[target],train_pred))

Confusion Matrix for Test Data:  [[11659   293]
 [ 1046   566]]
Confusion Matrix for Train Data:  [[27278   692]
 [ 2408  1269]]

In [79]:
#Classification report

print(classification_report(train_data[target],train_pred))
#Because of fewer number of records available for 'yes' class, model finds hard to Classify record to 'yes' class correctly

              precision    recall  f1-score   support

           0       0.92      0.98      0.95     27970
           1       0.65      0.35      0.45      3677

    accuracy                           0.90     31647
   macro avg       0.78      0.66      0.70     31647
weighted avg       0.89      0.90      0.89     31647

In [80]:
# Train Accuracy
print("Training Accuracy achieved by Logistic Regression(%): ",100*(sum(train_data[target]==train_pred)/train_data.shape[0]))

#Test Accuracy
print("Testing Accuracy achieved by Logistic Regression(%): ",100*(sum(test_data[target]==test_pred)/test_data.shape[0]))

Training Accuracy achieved by Logistic Regression(%):  90.20444275918729
Testing Accuracy achieved by Logistic Regression(%):  90.12828074314362